.user-list-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .btn-burger {
    width: 28px;
    height: 28px;
    i {
      font-size: 28px;
      color: #6374f3;
    }
  }

  .user-list {
    overflow: auto;
  }
}


