.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px;
}

.page-title {
  font-family: Gotham, "Montserrat";
  font-size: 20px;
  color: #b1b8c5;
}

.btn-burger {
  width: 28px;
  height: 28px;
}
.btn-burger i {
  font-size: 28px;
  color: #6374f3;
}
